coverage==7.4.0
elasticsearch==7.16.2
python-dotenv==0.15.0
pytz==2019.1
requests==2.21.0
urllib3==1.24.3
networkx==3.1
pygraphviz==1.11
r2pipe==1.8.8
numpy==1.24.4
pyzipper==0.3.6
pytest==7.4.4
pre-commit==3.5.0
